body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media screen and (min-width: 539px) {
  .form-two {
    margin-left: 10px;
  }
}

.filter-container::-webkit-scrollbar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0;
  width: 0;
  background: #F1F1F1;
}

.filter-container:hover::-webkit-scrollbar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 3px;
  width: 100%;
  background: #F1F1F1;
}

.filter-container::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
}

.salary-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #319795;
  cursor: pointer;
}

.salary-range::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 3px #319795b4;
}

.job-container {
  border: solid 2px #F1F1F1;
}

.job-container-js {
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: solid 4px #319795;
}